:root {
    /* fonts---both from google but with safe fonds /////adjust sizes afterwards*/
    --body-font: 'Merriweather', Verdana, Geneva, Tahoma, sans-serif;
    --2nd-font: 'Work sans', Tahoma, sans-serif;
    /*Text colors */
    --text-dark: #000;
    --text-white: #fff;

    /* Headings 1-6 */
    --h1-size: 7.2rem;
    --h2-size: 5.6rem;
    --h3-size: 4rem;
    --h4-size: 3.2rem;
    --h5-size: 2.8rem;
    --h6-size: 2.2rem;
    /* ----spacing-------- */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    /* color pallete */
    --background-black: #000;
    --background-green: #517884;
    --background-pink: #F4C4BE;
    --button-primary: #217968;

    /* body//cards //and more */
    --body-width: 1726px;
    --body-color-1: #f1f1f1;
    /* --body-color-2: ; */
    --card-color-1: #ebebeb;
    --card-color-2: #F0F0F0;
    --card-color-3: #F6F5F2;
    /* add linear color for index*/
    /* --standard-border-radius: 20px; */
    --standard-box-shadow: #E2FF8C;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Global styles-------------------------------------
----------------------------------------------------- */
body {
    font-family: var(--body-font);
    width: 100%;
    /*------------------- height to 100%  ----------- ????*/
    height: 100%;
    box-sizing: border-box;
    /* max-width: var(--body-width); */
    /* padding: var(--spacing-md) 0 0 0; */
    color: var(--text-dark);
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

html,
body {
    background-color: var(--body-color-1);
    position: relative;
    overflow-x: hidden;

}

main {
    max-width: var(--body-width);
    width: 100%;
    /* padding: var(--spacing-lg); */
    height: 100%;
    box-sizing: border-box;
    /* padding: var(--spacing-md) 0 0 0; */
    color: var(--text-dark);
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center;
    align-items: center; */
}

a {
    color: inherit;
}

a:link {
    text-decoration: none;

}

a:visited {
    text-decoration: none;
}

/* change after the texT decoraTion for hover and active state */
a:hover {
    text-decoration: underline;
    cursor: pointer;
}

a:active {
    text-decoration: underline;
}



/* typography------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--2nd-font);
    margin: 0;
    width: 100%;
    /* letter-spacing: ;   might need it */
}

h1 {
    font-size: var(--h1-size);
    font-weight: 500;
    line-height: smAll;
}

h2 {
    font-size: var(--h2-size);
    font-weight: 500;
}

h3 {
    font-size: var(--h3-size);
    font-weight: 500;

}

h4 {
    font-size: var(--h3-size);
    font-weight: 500;
}

h5 {
    font-size: var(--h5-size);
    font-weight: 500;
}

h6 {
    font-size: var(--h6-size);
    font-weight: 500;
}

/* check how it looks in the end resault */
p {
    font-size: 1.8rem;
    font-weight: 400;
    margin: var var(--spacing-md 0);
    line-height: 1.3;

}

hr {
    border: 2px solid white;
}




/* –––––––––––––––––––––––––––––––––––––primary-button––––––––––––––––––––––––––––––––––––– */
.primary-button {
    font-family: var(--2nd-font);
    font-size: 1.3em;
    font-weight: 500;
    background-color: var(--button-primary);
    color: var(--text-white);
    padding: 0.3em 1em;
    border-radius: 0.5em;
    box-shadow: 2px 4px 5px var(--standard-box-shadow);
    transition: all 0.2s ease;
    border: 2px solid var(--standard-box-shadow);
}

.primary-button>a {
    color: var(--text-white);
}

.primary-button:hover {
    background-color: blue;
    cursor: pointer;
    border: 3px solid black;
    box-shadow: 2px 4px 5px black;
}

/* ------------------------------------ ** two column flex conatiner ** ----------------- */





main {
    margin: 0 auto;
}

.section-container {
    width: 100%;
    max-width: var(--body-width);
}

/* ------------------------------------ ** product cards ** ----------------- */

/* ------------------------------------ ** header ** -----------------------------------------
-------------------------------------------------------------------------------------------- */
header {
    box-sizing: border-box;
    background-color: black;
    max-width: var(--body-width);
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.logo {
    margin: 2rem 5rem 2rem 5rem;
    max-height: 100px;
    display: flex
}

/* adjust margin on the right */
.logo img {
    max-height: 100px;
    display: flex
}

.burger-icon {
    display: flex;
    margin: 2rem 5rem 2rem 0;
    max-height: 80px;
}

nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked~nav {
    display: block;
    z-index: 1;
}

nav a:hover {
    color: var(--background-green);
}

nav a {
    display: block;
    color: var(--text-white);
    font-size: var(--h3-size);
    padding: 1rem;
    z-index: 1;
    background: #000;
    margin: 2rem;
}

header {
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    background-color: var(--background-black);
    padding: 1rem 2rem;
    z-index: 1;
    top: 160px;
    right: 0px;
    padding: 8rem;
}

/* ------------------------------------ ** header ** -----------------------------------------
-------------------------------------------------------------------------------------------- */

.test>img {
    width: 1726px;
}

/* ------------------------------------ ** footer ** -----------------------------------------
-------------------------------------------------------------------------------------------- */
footer {
    box-sizing: border-box;
    max-width: var(--body-width);
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 5rem;
    margin: 0 auto;
}

.social-on-footer li {
    display: inline-block;
    padding: 0 1rem 1rem 0;
}

.newsletter-on-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;
}

.newsletter-on-footer span:last-child {
    padding-left: 10rem;
}

.hr-decorative-footer {
    padding: 1rem 0;
}

.more-info-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo-on-footer {
    display: inline;
    max-width: 180px;
    object-fit: contain;
    align-self: center;
}

footer li {
    font-size: 18px;
    padding: 0.6em 0;
}

footer li h6 {
    font-size: var(--h5-size);
    font-weight: 800;

}


/* ------------------------------------ ** main ** -----------------------------------------
-------------------------------------------------------------------------------------------- */
/* –––––––––––––––––––– hero section ––––––––––––––––––––*/
/* –––––––––––––––––––– article1 ––––––––––––––––––––*/
.article1 {
    background-color: var(--background-black);
    color: var(--text-white);
    /* max-width: var(--body-width); */
    padding: 5% 10%;
    text-align: center;
    margin: 0 auto;
}

article {
    margin: 0 auto;
}

.article1 h2 {
    padding-bottom: var(--spacing-md);
}

/* –––––––––––––––––––– get involved section ––––––––––––––––––––*/
.get-involved-s {
    background-image: url(../images/homepage/yuya-hata-9AJM1uC1bj8-unsplash.jpg);
    max-width: 70%;
    min-height: 25vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    border-radius: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 0 auto;
}

/* .get-involved-s::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-size: cover;
    border-radius: 40px;
} */

.get-involved-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
    max-width: 50%;
    max-height: 50%;
    padding: 1rem 4rem;
    border-radius: 40px;
}

.get-involved-content>.get-involved-content h3 {
    padding-bottom: var(--spacing-md);
}

.get-involved-content input {
    align-self: flex-end;
    padding: var(--spacing-sm) var(--spacing-sm);
}


/*  _____________------------------ two column layout-----------------------------------
------------------------------------------------------------------------------------- */
.two-column {
    display: flex;
    border: 5px solid black;
    justify-content: space-evenly;
    align-items: center;
}

.two-column>.column-left {
    width: 100%;
    max-width: 50%;
    max-width: 700px;
    object-fit: contain;
}

.two-column>.column-right {
    width: 100%;
    max-width: 50%;
    max-width: 700px;
    text-align: center;
}

.two-column>.column-right p {
    padding: 2rem 3rem 0 3rem;
}

.two-column.card-horizontal {
    padding: 3rem 0 3rem 3rem;
}

.card-style-black {
    background-color: black;
    color: var(--text-white);
}

.card-style-green {
    background-color: var(--background-green);
    color: var(--text-white);
}

.card-style-pink {
    background-color: var(--background-pink);
    color: var(--text-dark);
}

/*  _____________------------------ two column layout-----------------------------------
------------------------------------------------------------------------------------- */



/* ------------------------vtwo column vertical ------------------------*/
.two-column-vertical {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.basic-card {
    max-width: 700px;
    height: auto;
    margin: 1rem;
    /* padding: 1rem; */
}

.basic-card>img {
    object-fit: contain;
}

.text-box {
    text-align: center;
    background-color: #517884;
    color: var(--text-white);
    padding: 2rem 3rem;
}

.text-box p {
    padding-bottom: 1rem;
}

.text-box h5,
h6 {
    padding-bottom: 2rem;
}


/* ------------------------three column layout ------------------------*/
/* img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
} */

.btn {
    background-color: white;
    border: 1px solid @gray-light;
    //border-radius: 1rem;
    color: @gray-dark;
    padding: 0.5rem;
    text-transform: lowercase;
}

.btn--block {
    display: block;
    width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.cards__item {
    display: flex;
    padding: 1rem;

    @media(min-width: 40rem) {
        width: 50%;
    }

    @media(min-width: 56rem) {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* &:hover {
        .card__image {
            filter: contrast(100%);
        }
    } */
}

.card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 5rem;
}

.card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    /* filter: contrast(70%);
    //filter: saturate(180%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);
    ; */

    /* &::before {
        content: "";
        display: block;
        padding-top: 56.25%; // 16:9 aspect ratio
    } */

    @media(min-width: 40rem) {
        /* &::before {
            padding-top: 66.6%; // 3:2 aspect ratio
        } */
    }
}

.card__image--flowers {
    background-image: url(https://unsplash.it/800/600?image=82);
}

.card__image--river {
    background-image: url(https://unsplash.it/800/600?image=11);
}

.card__image--record {
    background-image: url(https://unsplash.it/800/600?image=39);
}

.card__image--fence {
    background-image: url(https://unsplash.it/800/600?image=59);
}

.card__title {
    color: black;
    font-size: var(--h5-size);
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom: 1rem;
    /* text-transform: uppercase; */
}

.card__text {
    flex: 1 1 auto;
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}

/* ------------------------three column layout ------------------------*/
/* .two-column-left {
    margin: 2rem;
} */
.container {
    width: 90%;
    max-width: var(--body-width);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    flex-wrap: wrap;
}

.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-section .card {
    flex: 1;
    margin: 1rem 3rem;
}

.cardtest {}

.cardtest img {
    max-width: 500px;
    flex: 1;
    margin: 1rem 3rem;
}

.card-title {}

.card-text {}

/* ------------------------three column layout ------------------------*/
/* ------------------------three column layout ------------------------*/

.container {
    inline-size: min(100% - 4rem, 70rem);
    margin-inline: auto;
}

.flow {
    display: grid;
    gap: var(--size-3);
}

.page-header {
    padding-block: var(--size-9);
    margin-block-end: var(--size-9);
    background: var(--gradient-16);
    color: var(--gray-0);
    box-shadow: var(--shadow-2);
}

.page-title {
    font-size: var(--font-size-fluid-3);
}

.page-subtitle {
    font-size: var(--font-size-fluid-1);
}

.section-title {
    padding-inline-start: var(--size-6);
    margin-block: var(--size-9) var(--size-3);
}


/* ------------------------media scroller ------------------------*/


.media-scroller {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 32%;
    gap: 1rem;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    background-color: var(--background-black);
}

.media-element {
    display: grid;
    grid-template-rows: min-content;
    padding: 1rem;
    /* background-color: red; */
    border-radius: 5px;
    box-shadow: #217968;
}

.media-element>img {
    width: 100%;
    aspect-ratio: 16 / 9;
    /* aspect-ratio: 9/16; */
    object-fit: cover;
}

.media-element p {
    padding: 1rem 0;
    font-size: 2.4rem;
    color: var(--text-white);
    text-align: center;
}

/* .container {
    inline-size: min(100% - 4rem, 70rem);
    margin-inline: auto;
} */

/* .flow {
    display: grid;
    gap: var(--size-3);
} */

/* .page-header {
    padding-block: var(--size-9);
    margin-block-end: var(--size-9);
    background: var(--gradient-16);
    color: var(--gray-0);
    box-shadow: var(--shadow-2);
} */